header {
  background-color: var(--primary-clr-800);
  /* box-shadow: inset 0px -6px 0 var(--primary-clr-900); */
  margin-bottom: 15px;
  width: 100%;
    
}

.burger-btn-menu {
  background-color: none;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  background-image: url(../../img/buttons/apps40x40.png);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.main-header{
  margin-inline:15px;
}

.logo-img{
  margin-right: 0.5rem;
}


.logo{
  font-size: 30px;
  color: var(--primary-clr-800);
  margin: 0;
}

.main-header .logo {
  color: var(--primary-clr-100);
}

.main-header .nav-bar a {
  
  width: 80px;
  height: 80px;
  color: var(--primary-clr-100);
  cursor: pointer;

  transition: box-shadow 0.4s;
}

.main-header .nav-bar a:hover {
  color: var(--secondary-clr-500);
  box-shadow: inset 0px -6px 0 var(--secondary-clr-500);
}

.main-header .nav-bar a.active {
  color: var(--secondary-clr-500);
  box-shadow: inset 0px -6px 0 var(--secondary-clr-500);
  cursor: default;
}

.router-link-active {
  color: var(--secondary-clr-500) !important;
}

/* .main-header .nav-bar > *:first-child {
  border-inline-start: 1px solid var(--primary-clr-900);
}
.main-header .nav-bar > * {
  border-inline-end: 1px solid var(--primary-clr-900);
  background-color: var(--primary-clr-800);
} */
