.card {
  width: 250px;
  box-shadow: 5px 5px 20px hsl(210, 3%, 46%);
  margin-bottom: 30px;
  transition: 0.3s ease;
  text-align: center;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgb(189, 189, 175);
  overflow: hidden;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.card a {
  color: black;
  text-decoration: none;
}
