.side-bar {
  grid-area: side-bar;
}
.mail-list {
  align-self: start;
  grid-area: mail-list;
}

.mail-list {
  margin-top: 100px;
  margin-left: 5px;
  margin-right: 5px;
}

.mail-preview {
  white-space: nowrap;
  /* height: 20px; */
  /* background-color: var(--primary-clr-200); */
  border-bottom: 1px solid var(--primary-clr-500);
  width: 100%;
  color: black;
}

.mail-preview img {
  width: 1em;
  margin-right: 40px;
}

.mail-preview:hover {
  outline: 1px solid var(--secondary-clr-500);
}

.opened {
  background-color: var(--primary-clr-200);
  color: unset;
}

.time {
  justify-self: end;
  width: 200px;
}

.first-col {
  position: relative;
  width: 10em;
  left: 0;
}
.last-col {
  position: relative;
  width: 10em;
  right: 0;
}

.mail-details {
  margin-block-start: 50px;
  margin-inline: 90px;
}
.mail-details.title {
  height: 3rem;
  align-items: center;
  justify-content: space-between;
}
.mail-subject {
  font-size: 2rem;
  font-weight: 500;
}

.detail-mail {
  margin-block-start: 25px;
  font-family: Roboto;
}

.detail-mail.name {
  font-weight: bold;
}

.mail-body-container {
  border: 1px solid rgba(0, 0, 0, 0.033);
  border-radius: 3px;
}

.mail-details.from-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.033);
}

.mail-details-buttons > button {
  all: unset;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.mail-body-container {
  height: 70vh;
  bottom: 100px;
}

.mail-preview {
  font-family: Roboto, Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 50px;
  grid-template-areas:
    'name-container . changeable-container'
    'subject-body subject-body .'
    'subject-body subject-body marks-container';
  justify-content: start;
  font-size: 14px;
  /* position: relative; */
}

.marks-container {
  all: unset;
  grid-area: marks-container;
  text-align: end;
  align-self: end;
  margin-left: 40px;
}

.name-container {
  grid-area: name-container;
  /* width: 168px; */
}
.subject-body {
  grid-area: subject-body;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.changeable-container {
  grid-area: changeable-container;
  text-align: end;
}

.mail-search {
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-top: 100px;
  justify-content: space-between;
  border: solid 1px;
  border-radius: 8px;
}

.sidebar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.sidebar li {
  display: flex;
  align-items: center;
}

.sidebar button {
  all: unset;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  display: flex;
  align-items: center;
  /* padding: 40px; */
  transition: 0.3s ease;
}
.sidebar button img {
  width: 20px;
  height: 20px;
}

.new-mail {
  all: unset;
  display: flex;
  align-items: center;
  background-color: var(--secondary-clr-500);
  width: 120px;
  position: fixed;
  font-size: 20px;
  border-radius: 10px;
  color: black;
  padding: 3px;
  bottom: 70px;
  right: 0;
  transition: 0.3s ease;
}

.new-mail img {
  width: 1.6em;
  padding-left: 10px;
}

.new-mail:hover {
  cursor: pointer;
  margin-left: 16px;
}

@media (min-width: 640px) {
  .mail-preview {
    display: grid;
    grid-template-columns: 40px 130px 1fr 50px;
    grid-template-areas: 'marks-container name-container subject-body changeable-container';
    justify-content: start;
    font-size: 14px;
    line-height: 40px;
  }
  .subject-body {
    display: flex;
  }
  .mail-app {
    margin-top: 0;
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      'side-bar . mail-search .'
      'side-bar mail-list mail-list mail-list'
      'side-bar mail-list mail-list mail-list';
  }
  .marks-container {
    margin: 0;
  }
  .mail-search {
    grid-area: mail-search;
    width: 100%;
    max-width: 550px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: space-between;
    border: solid 1px;
    border-radius: 8px;
  }
  .sidebar {
    margin: 0;
    display: block;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    border-right: 2px solid var(--secondary-clr-500);
    color: black;
    line-height: 50px;
    font-size: 20px;
  }

  .sidebar button:hover {
    margin-left: 16px;
  }

  .sidebar button img {
    width: 20px;
    height: 20px;
    margin-right: 1em;
  }
  .new-mail {
    left: 0;
  }
}
