.color-picker-container{
border: solid 1px;
background-color: white;
opacity: 1;
z-index: 45;
margin-top: -50px;
height: 60px;
width: 200px;
}

.color-picker-button {
  all: unset;
  z-index: 40;
  border-radius: 100%;
  margin: 1px;
  padding: 0;
  width: 56px;
  height: 28px;
 
}
