.color-picker-container{
border: solid 1px;
border-radius: 5px;
background-color: white;
z-index: 45;
margin-top: -10px;
display: flex;
align-items: center;
height: 66px;

margin-inline-start: auto;
margin-inline-end: auto;
}
.color-picker-buttons {
    padding: 1ren;
   
}
.color-picker-button {
  all: unset;
  z-index: 40;
  border-radius: 100%;
  margin: 2px;
  padding: 0;
  width: 26px;
  height: 26px;
  border: solid 0.5px rgba(185, 181, 181, 0.571);
 }

