.notes {
  min-width: 0;
  width: 100%;
  /* column-count: 6 ; */
  margin-left: 90px;
  margin-right: 90px;
}
.notes-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  align-items: start;
}

.note-preview {
  flex-direction: column;
  justify-content: space-between;
}

.note-todos {
  text-align: left;
}
.invisible {
  visibility: hidden;
}

.actions-buttons{
    margin-inline-start: 1.5rem;
    margin-inline-end: 1.5rem;
    padding-bottom: 8px;
    position: relative;
}

.actions-buttons button {
  all: unset;
  transition: 0.3s ease;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.actions-buttons button > img{
    width: 100%;
}

.color-picker{
  height: 100px;
  width: 250px;
  }