.notes {
  min-width: 0;
  
}
.notes-list {
  column-count: 6;
  column-width: 238px;
  column-gap: 15px;
  break-inside:avoid-column;
  width: min(100% - 25px,1660px);
  margin-inline:auto;
 
}

.note-preview {
  flex-direction: column;
  justify-content: space-between;
}

.note-todos {
  text-align: left;
}
.invisible {
  visibility: hidden;
}

.actions-buttons{
    margin-inline-start: 1.5rem;
    margin-inline-end: 1.5rem;
    padding: 5px;
    position: relative;
}

.actions-buttons button {
  all: unset;
  transition: 0.3s ease;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  
}

.actions-buttons button > img{
    width: 100%;
}

.color-picker{
  height: 100px;
  width: 250px;
  }
.note-txt{
  position: relative;
}
.note-liveedit-btn{
  all: unset;
  width: 48px;
  padding: 1rem;
  margin-top: 25px;
}