.notes {
  min-width: 0;
  width: 90%;
  /* column-count: 6 ; */
  margin-left: 90px;
  margin-right: 90px;
}
.notes-list {
  column-count: 5;
  column-width: 200px;
  column-gap: 20px;
  break-inside:avoid-column;
}

.note-preview {
  flex-direction: column;
  justify-content: space-between;
}

.note-todos {
  text-align: left;
}
.invisible {
  visibility: hidden;
}

.actions-buttons{
    margin-inline-start: 1.5rem;
    margin-inline-end: 1.5rem;
    padding-bottom: 8px;
    position: relative;
}

.actions-buttons button {
  all: unset;
  transition: 0.3s ease;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  
}

.actions-buttons button > img{
    width: 100%;
}

.color-picker{
  height: 100px;
  width: 250px;
  }